<div class="container">
<h1 class="text-center mt-4">Alpha-Bloggers</h1>

<div class="d-flex justify-content-center page_info mt-4">
      <%= page_entries_info @users %>
    </div>
  <div class="d-flex justify-content-center mt-2">
    <%= will_paginate @users, class: "apple_pagination" %>
  </div>

  <% @users.each do |user| %>
    <div class="row justify-content-center">
      <div class="col-8 mt-4">

        <div class="card text-center shadow mb-5">
          <div class="card-header fst-italic">
            <%= link_to user.username, user %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
            <p class="card-text">
              <%= pluralize(user.articles.count, "article") %>
            </p>
            <div class="d-flex flex-wrap justify-content-center">
              <%= button_to "View Profile",
                            user,
                            method: :get,
                            class: "btn btn-outline-success m-1" %>
              <% if logged_in? %>
               <% if user == current_user %>
              <%= button_to "Edit Profile",
                            edit_user_path(user),
                            method: :get,
                            class: "btn btn-outline-primary m-1" %>
                <% end %>
                <% if current_user.admin? %>
                  <%= button_to "Delete User", user_path(user), method: :delete, class: "btn btn-outline-danger m-1", form: {
                                                                  onsubmit: "return confirm('Are you sure? You are attempting to delete #{user.username}')",
                                                                } %>
                  <% end %>
              <% end %>
            </div>
          </div>
          <div class="card-footer text-body-secondary">
            <small>
              Created
              <%= time_ago_in_words(user.created_at) %>
              </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    
  <div class="d-flex justify-content-center my-4">
    <%= will_paginate @users, class: "apple_pagination" %>
  </div>
</div>